<center>
  <hr>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active ">
        "Fashion is part of the daily air and it changes all the time, with all the events. You can even see the
        approaching of a revolution in clothes. You can see and feel everything in clothes." —Diana Vreeland
      </div>
      <div class="carousel-item ">

        "What you wear is how you present yourself to the world, especially today, when human contacts are so quick.
        Fashion is instant language." —Miuccia Prada
      </div>
      <div class="carousel-item">
        "I think there is beauty in everything. What 'normal' people perceive as ugly, I can usually see something of
        beauty in it."—Alexander McQueen
      </div>

      <div class="carousel-item">
        "What's my style is not your style, and I don’t see how you can define it. It’s something that expresses who you
        are in your own way.” —Iris Apfel
      </div>


    </div>
  </div>
  <hr>

</center>

<br />
<br />